In [ ]:

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Import Package
import pandas as pd # Data Manipulating
import numpy as np # Support large multi-dimensional array
import matplotlib.pyplot as plt #Basic Plot di Python
import seaborn as sns #plot alternatif dari matplotlib dengan beberapa fitur berebeda
pd.options.mode.chained_assignment = None  # default='warn
pd.set_option('display.float_format', lambda x: '%.2f' % x) # set 2 angka dibelakang koma (desimal)

In [ ]:
# Import data users dan events
data_users = pd.read_csv('/content/drive/MyDrive/users.csv')
data_events = pd.read_csv('/content/drive/MyDrive/events.csv')

In [ ]:
# Memanggil data
data_users

,id,first_name,last_name,email,age,gender,state,street_address,postal_code,city,country,latitude,longitude,traffic_source,created_at
0,19279,Heidi,Jackson,heidijackson@example.org,50,F,Mie,894 Nicholas Curve Suite 865,513-0836,Suzuka City,Japan,34.85,136.51,Search,2020-11-07 12:40:00+00:00
1,5678,Michael,Brooks,michaelbrooks@example.org,58,M,Acre,0549 Deanna Land,69917-400,Rio Branco,Brasil,-9.95,-67.84,Email,2019-07-28 04:20:00+00:00
2,29694,Scott,Anderson,scottanderson@example.org,60,M,Acre,8979 Stephens Oval Apt. 816,69917-400,Rio Branco,Brasil,-9.95,-67.84,Facebook,2019-08-16 17:06:00+00:00
3,29967,Mike,Beck,mikebeck@example.org,12,M,Acre,76404 Michael Way Apt. 377,69917-400,Rio Branco,Brasil,-9.95,-67.84,Search,2019-05-09 12:08:00+00:00
4,47096,Holly,Kennedy,hollykennedy@example.org,68,F,Acre,23658 Santana Mission,69917-400,Rio Branco,Brasil,-9.95,-67.84,Search,2019-05-24 15:53:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,91847,Megan,Carter,megancarter@example.com,67,F,Jeju Special Self-Governing Province,39055 Mark Meadow Apt. 438,699-930,Seogwipo City,South Korea,33.22,126.24,Facebook,2021-03-28 13:47:00+00:00
99996,12802,Jackie,Alexander,jackiealexander@example.com,35,F,Jeju Special Self-Governing Province,13698 Jacqueline Island,699-940,Seogwipo City,South Korea,33.31,126.68,Email,2020-01-17 09:21:00+00:00
99997,28309,Michael,Edwards,michaeledwards@example.org,59,M,Jeju Special Self-Governing Province,2445 Jonathan Gateway,699-940,Seogwipo City,South Korea,33.31,126.68,Email,2021-12-16 03:27:00+00:00
99998,35063,Tina,Burns,tinaburns@example.net,23,F,Jeju Special Self-Governing Province,2899 Nicholas Groves,699-940,Seogwipo City,South Korea,33.31,126.68,Search,2019-03-07 05:46:00+00:00
99999,43199,Jennifer,Dean,jenniferdean@example.org,33,F,Jeju Special Self-Governing Province,06950 Jennifer Fords Suite 838,699-940,Seogwipo City,South Korea,33.31,126.68,Organic,2019-09-28 13:20:00+00:00

In [ ]:
# Memanggil data 
data_events

,id,user_id,sequence_number,session_id,created_at,ip_address,city,state,postal_code,browser,traffic_source,uri,event_type
0,252,14.00,1,4ee0d7d3-ed29-4b1c-b038-1e3f78942acd,2020-08-18 08:46:32+00:00,138.65.151.151,Daejeon,Daejeon,302-160,Chrome,Email,/home,home
1,4473,301.00,1,a77d6232-0a03-4616-b836-446a32b9e4f4,2020-08-19 03:47:46+00:00,153.204.205.22,São Luís,Maranhão,65000-000,IE,Email,/home,home
2,5756,401.00,1,0e517fbd-e152-4918-8f01-6036a180813c,2020-06-07 07:03:58+00:00,209.47.200.122,Sant Adrià de Besòs,Cataluña,8930,Chrome,Email,/home,home
3,8944,683.00,1,4c2fada8-7095-4de2-9728-31c0eed658b0,2020-09-23 04:52:13+00:00,60.42.59.118,Inhambupe,Bahia,48490-000,Chrome,Email,/home,home
4,9164,709.00,1,5a9c26be-01e9-4918-a908-77476667faa2,2021-07-29 16:05:33+00:00,194.208.170.21,Bayreuth,Bayern,95448,IE,Email,/home,home
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2418729,775963,60380.00,13,fd40cb23-d934-4264-af2f-015b6f770778,2022-02-25 08:13:04+00:00,124.184.36.131,Yiyang,Guangdong,515300,Chrome,Facebook,/purchase,purchase
2418730,838547,65033.00,13,216ff4bb-0771-4df1-bca4-3c60364d1ffc,2020-11-23 02:23:01+00:00,206.166.126.194,Barcelona,Cataluña,8017,Firefox,Facebook,/purchase,purchase
2418731,1011878,78525.00,13,4508c06b-7875-48a0-b3f0-e5bcbb73cb4f,2020-10-23 09:58:38+00:00,215.189.97.153,Ferry Pass,Florida,32514,Chrome,Facebook,/purchase,purchase
2418732,1086822,84310.00,13,d01d8a33-374d-47f6-aae6-e297d5d4749d,2021-08-30 02:15:53+00:00,95.8.221.111,Weatherford,Texas,76087,IE,Facebook,/purchase,purchase
2418733,1111815,86220.00,13,ebe22ee9-27ee-4f09-8c32-a0bca0e59933,2021-10-21 18:06:21+00:00,2.186.183.12,Azuqueca de Henares,Castilla-La Mancha,19200,Chrome,Facebook,/purchase,purchase

In [ ]:
# Memilih salah satu kolom 
data_users = data_users[['id','first_name','gender']] 
data_users[['id','first_name','gender']] #Memanggil data

          id first_name gender
0      19279      Heidi      F
1       5678    Michael      M
2      29694      Scott      M
3      29967       Mike      M
4      47096      Holly      F
...      ...        ...    ...
99995  91847      Megan      F
99996  12802     Jackie      F
99997  28309    Michael      M
99998  35063       Tina      F
99999  43199   Jennifer      F

[100000 rows x 3 columns]

In [ ]:
data_events = data_events[['user_id','created_at','event_type']]
data_events[['user_id','created_at','event_type']]#Memanggil data

         user_id                 created_at event_type
0          14.00  2020-08-18 08:46:32+00:00       home
1         301.00  2020-08-19 03:47:46+00:00       home
2         401.00  2020-06-07 07:03:58+00:00       home
3         683.00  2020-09-23 04:52:13+00:00       home
4         709.00  2021-07-29 16:05:33+00:00       home
...          ...                        ...        ...
2418729 60380.00  2022-02-25 08:13:04+00:00   purchase
2418730 65033.00  2020-11-23 02:23:01+00:00   purchase
2418731 78525.00  2020-10-23 09:58:38+00:00   purchase
2418732 84310.00  2021-08-30 02:15:53+00:00   purchase
2418733 86220.00  2021-10-21 18:06:21+00:00   purchase

[2418734 rows x 3 columns]

In [ ]:
left_merge = pd.merge(data_users, data_events, how ='left', left_on='id', right_on='user_id') #LEFT JOIN USER DAN EVENT
left_merge.head(1000) #TAMPILIN DATA SEJUMLAH 1000

        id first_name gender  user_id                 created_at  event_type
0    19279      Heidi      F 19279.00  2022-05-06 09:18:24+00:00  department
1    19279      Heidi      F 19279.00  2022-05-06 11:09:56+00:00  department
2    19279      Heidi      F 19279.00  2022-05-06 09:20:32+00:00     product
3    19279      Heidi      F 19279.00  2022-05-06 11:11:51+00:00     product
4    19279      Heidi      F 19279.00  2022-05-06 09:20:34+00:00        cart
..     ...        ...    ...      ...                        ...         ...
995  11787     Nathan      M 11787.00  2020-01-29 02:22:42+00:00    purchase
996  23267    Jessica      F 23267.00  2021-07-16 09:51:00+00:00        home
997  23267    Jessica      F 23267.00  2021-07-16 09:52:35+00:00  department
998  23267    Jessica      F 23267.00  2021-07-16 09:55:07+00:00     product
999  23267    Jessica      F 23267.00  2021-07-16 09:58:05+00:00        cart

[1000 rows x 6 columns]

In [ ]:
left_merge[left_merge.isna().any(axis=1)] #Data Yang NA

            id first_name gender  user_id created_at event_type
53       48667      Marie      F      NaN        NaN        NaN
246      40019      Janet      F      NaN        NaN        NaN
252      56004      Molly      F      NaN        NaN        NaN
321      17612    Michael      M      NaN        NaN        NaN
432      31724      Alexa      F      NaN        NaN        NaN
...        ...        ...    ...      ...        ...        ...
1312510   9002      Frank      M      NaN        NaN        NaN
1313002  96350       Jane      F      NaN        NaN        NaN
1313148  45798      David      M      NaN        NaN        NaN
1313218  34338    Yolanda      F      NaN        NaN        NaN
1313239  35063       Tina      F      NaN        NaN        NaN

[20014 rows x 6 columns]

In [ ]:
left_merge.shape #melihat jumlah data sebelum drop NA

(1313250, 6)

In [ ]:
left_merge=left_merge.dropna() #menghapus data NA
left_merge.shape

(1293236, 6)

In [ ]:
left_merge[left_merge.isna().any(axis=1)] #check data sudah di drop yang NA

Empty DataFrame
Columns: [id, first_name, gender, user_id, created_at, event_type]
Index: []

In [ ]:
left_merge.head(1293236) #data bersih

,id,first_name,gender,user_id,created_at,event_type
0,19279,Heidi,F,19279.00,2022-05-06 09:18:24+00:00,department
1,19279,Heidi,F,19279.00,2022-05-06 11:09:56+00:00,department
2,19279,Heidi,F,19279.00,2022-05-06 09:20:32+00:00,product
3,19279,Heidi,F,19279.00,2022-05-06 11:11:51+00:00,product
4,19279,Heidi,F,19279.00,2022-05-06 09:20:34+00:00,cart
...,...,...,...,...,...,...
1313245,43199,Jennifer,F,43199.00,2021-12-16 10:26:07+00:00,product
1313246,43199,Jennifer,F,43199.00,2021-04-24 09:33:37+00:00,cart
1313247,43199,Jennifer,F,43199.00,2021-12-16 10:26:51+00:00,cart
1313248,43199,Jennifer,F,43199.00,2021-04-24 09:36:09+00:00,purchase
1313249,43199,Jennifer,F,43199.00,2021-12-16 10:27:59+00:00,purchase

In [ ]:
left_merge.to_csv("lm_output.csv",index=False) #Membuat data csv

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).